* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;


}

.container {
    width: 100%;
    height: 80px;
    background: #000000;
    z-index: 1;
    transition: 2s;
    position: sticky;
}

.nav {

    width: 95%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__img {
    height: 80px;
}

.nav__titulo {
    color: rgb(255, 255, 255);
}

.nav__button,
.nav__input {
    display: none;
}

.nav__items {
    display: flex;
    align-items: center;
    gap: 3em;
}

.nav__item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    --clip: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    display: block;
    margin-top: 3px;
    clip-path: var(--clip);
    transition: clip-path .7s ease-in-out;
}

.nav__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}




/* cards */
.cards__container {
    /* border: 5px solid rgb(191, 226, 34); */
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    margin: 0 auto;
    margin-top: 100px;
    perspective: 700;
    background: #000000;
    margin-bottom: 40px;
    border-radius: 10px;

}

.card {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 400px;
    margin: 0 auto;
    
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.lado {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
}

.card__adelante {
    background: rgb(67, 113, 199);
    display: flex;  
    box-shadow: 0px 0px 10px rgb(255, 255, 255); 
}



h3 {
    text-align: center;
}

.card__trasera {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: rotateY(180deg);

}

.card__cta {
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(53, 50, 50);
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #fff;
}

.card__titulo{
    color: #fff;
    text-align: center;
    padding: 30px;
}

.card__parrafo{
    color: #fff;
    text-align: center;
    padding: 30px;
}



/* Cards con sus respectivos articulos */

.card__1{
    background-image: url(pictures/Bolso\ Puma.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card__2{
    background-image: url(pictures/Reebok.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__3{
    background-image: url(pictures/Nike\ Verde\ Claro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__4{
    background-image: url(pictures/Nike\ Gris.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card__5{
    background-image: url(pictures/Nike\ Azul.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__6{
    background-image: url(pictures/Camisa\ Adidas\ Azul.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__7{
    background-image: url(pictures/Camisa\ Adidas\ Gris.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__8{
    background-image: url(pictures/Camisa\ Adidas\ Negra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__9{
    background-image: url(pictures/Franelilla\ Gap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__10{
    background-image: url(pictures/Camisa\ Gap\ Blanco\ con\ Rojo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__11{
    background-image: url(pictures/Camisa\ Forever\ 21\ Rojo\ Claro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__12{
    background-image: url(pictures/Camisa\ tommy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__13{
    background-image: url(pictures/Chaqueta\ Polo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__14{
    background-image: url(pictures/Sweter\ Van\ Heusen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__15{
    background-image: url(pictures/Calentador\ Ecko\ unltd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__16{
    background-image: url(pictures/Body\ Blanca\ Forever\ 21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__17{
    background-image: url(pictures/Body\ Azul\ Forever\ 21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__18{
    background-image: url(pictures/Vestido\ Corto\ Marshalls.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__19{
    background-image: url(pictures/Blusa\ Allysse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__20{
    background-image: url(pictures/Forever\ 21\ Corto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__21{
    background-image: url(pictures/Braga\ Calvin\ Klein.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__22{
    background-image: url(pictures/Braga\ Forever\ 21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__23{
    background-image: url(pictures/Lentes\ American\ Eagle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__24{
    background-image: url(pictures/Labiales\ Hadaiyan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__25{
    background-image: url(pictures/Splash\ Pink\ Blooms.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__26{
    background-image: url(pictures/Crema\ Pink\ Paradise\ Bloom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__27{
    background-image: url(pictures/Splash\ Coconut\ Coast.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card__28{
    background-image: url(pictures/Crema\ Pink\ Tropic\ Palm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}












@media (max-width:650px) {

    .nav__button {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }

    .nav__items {
        position: fixed;
        top: 80px;
        background: #000000c2;
        width: 100%;
        height: 90%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        clip-path: circle(0% at 50% 50%);
        transition: clip-path .7s ease-in-out;
    }

    .nav__input:checked+.nav__items {
        clip-path: circle(100% at 50% 50%);
    }


}